﻿.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-error {
    border-left-color: #dc143c;
}

.bs-callout-success {
    border-left-color: #32cd32;
}
