﻿<form role="form">
    <h1>Editing student number: {{eCtrl.student.snumber}}</h1>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" required ng-model="eCtrl.student.name">
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" placeholder="Enter age" required ng-model="eCtrl.student.age">
    </div>
    <div class="form-group">
        <label for="birthdate">BirthDate</label>
        <input type="date" class="form-control" id="birthdate" required ng-model="eCtrl.student.birthdate">
    </div>
    <button type="submit" class="btn btn-default" ng-click="eCtrl.save()">SAVE</button>
</form>
<a class="btn" href="#/home">BACK</a>