﻿<form role="form">
    <h1>Hi there! You are adding: <label ng-bind="mCtrl.student.name"></label></h1>
    <div class="form-group">
        <label for="snumber">Student Number</label>
        <input type="text" class="form-control" id="snumber" placeholder="Enter student number" required ng-model="mCtrl.student.snumber">
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" required ng-model="mCtrl.student.name">
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" placeholder="Enter age" required ng-model="mCtrl.student.age">
    </div>
    <div class="form-group">
        <label for="birthdate">BirthDate</label>
        <input type="date" class="form-control" id="birthdate" required ng-model="mCtrl.student.birthdate">
    </div>
    <button class="btn btn-default" ng-click="mCtrl.add()">Add</button>
</form>
<br />



<div class="bs-callout bs-callout-warning" ng-show="mCtrl.students.length == 0">
    <h4>NO INFO YET</h4>
    <p>Please add a student first</p>
</div>
<div class="bs-callout bs-callout-error" ng-show="mCtrl.hasError">
    <h4>ERROR!</h4>
    <p>Student was not saved!</p>
</div>
<div class="bs-callout bs-callout-success" ng-show="mCtrl.isSuccessful">
    <h4>SUCCESS!</h4>
    <p>Student was saved :)</p>
</div>



<div ng-show="mCtrl.students.length > 0">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="searchBox" class="col-sm-2 control-label">SEARCH</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="searchBox" ng-model="search.name">
            </div>
        </div>
    </form>
   
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Student Number</th>
                <th>Name</th>
                <th>Age</th>
                <th>Birthdate</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="student in mCtrl.students | filter:search">
                <td ng-bind="student.snumber"></td>
                <td ng-bind="student.name"></td>
                <td ng-bind="student.age"></td>
                <td ng-bind="student.birthdate | date:'MM/dd/yyyy'"></td>
                <td><button type="submit" class="btn btn-info" ng-click="mCtrl.edit(student)">EDIT</button></td>
                <td><button type="submit" class="btn btn-danger" ng-click="mCtrl.remove(student.snumber)">REMOVE</button></td>
            </tr>
        </tbody>
    </table>
</div>
